[Desktop Entry]
Name=GAASD 2.7.0.5
Comment=GAASD 2.7.0.5 side-by-side profile
Exec=/home/aiden/gaasd_versions/gaasd-2.7.0.5/run-gaasd-2.7.0.5.sh
Icon=/home/aiden/gaasd_versions/gaasd-2.7.0.5/GAASD.png
Terminal=false
Type=Application
Categories=Development;
